/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --primary-purple:#625977;
    --background-blue:#5D6C96;
    --background-purple-card:#BCB5D8;
    --background-purple-side:#9587AA;
    --background-purple-history:#CDC8DD;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: "Source Code Pro";
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: #ffffff;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

*:focus{
    opacity: 0.5;
    outline: none;
}



/* HEADER */

.wraper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.header{     
    width: 100%;
    background-color: rgb(255, 255, 255);    
}

.header__container{    
    min-height: 80px;    
    background-color: var(--background-purple-side); 
}

._container{
    position: relative;
    max-width: 1700px;
    margin: 0 auto;    
}

.header__row{
    display: flex;    
    align-items: flex-start;   
}

.logo{
    display: flex; 
    flex-basis: 80%;
    background-color: var(--primary-purple); 
    border-bottom-right-radius: 100px;      
}

.header__buttons{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: flex-end;    
    background-color: #ffffff;

}

.header__reagister{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--background-blue); 
    color: #ffffff;
    width: 100%;
}

.header__login{    
    font-size: 2rem;
    transform: translateY(5px);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--background-purple-card); 
    color: #ffffff;    
    width: 60%;
}

.search{
    display: flex;         
    gap: 50px;
    padding: 25px 35px;
    background-color: var(--background-purple-side);     
}

.search__btn{
    font-weight: 600;
    font-size: 2rem;
    border-radius: 20px;
    color: #5D6C96
}

.search__input{
    margin-left: 250px;
    flex-basis: 50%;
}

.navigator{
    position: relative;
    background-color: var(--background-blue); 
    z-index: 50;
}

.navigation__list{
    display: flex;
    justify-content: center;
    gap: 100px;    
}

.navigator__item{
    position: relative;   
    z-index: 50; 
    display: block;
    cursor: pointer;
    padding: 20px 30px 20px 90px;
    border-radius: 5px;    
}

.navigator__item:hover{
    background-color:  rgb(55, 46, 88);
}

.navigator__item > .histori {
    position: absolute;
    top: 9px;
    right: 200px;
    display: block;
    background: url(/img/icon-book.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .izbranoe {
    position: absolute;
    top: 14px;
    right: 230px;
    display: block;
    background: url(/img/icon-izbranoe.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .write {
    position: absolute;
    top: 16px;
    right: 210px;
    display: block;
    background: url(/img/icon-write.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigation__link{    
    padding: 5px;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.icon-navigation{
    display: block;    
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
}






/* MAIN SECTION */

.main{
    flex: 1 1 auto;    
}

.hero__container{
    position: relative;
    display: flex;
    flex-direction: column;    
    min-height: 800px;
    padding: 100px 0 100px 80px;
    color: #000000;
}

.hero__obvodka{
    position: absolute;
    top: -12px; 
    left: 1px;
    background: url(../img/dizain-obvotka.png) center center no-repeat;
    background-size: contain;
    width: 1100px;
    height: 600px;
    z-index: 1;
}

.hero__block{
    position: relative;
    top: 100px;       
}

.hero__background-color{
    position: relative;
    top: 5px;
    left: 6px;
    background-color: var(--background-purple-card);
    width: 1090px;
    height: 390px;
    border-top-right-radius: 105px;
    border-bottom-right-radius: 105px;
}

.hero__text-main{
    display: flex;
    flex-direction: column;
}

.hero__heading{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #ffffff;
    font-weight: 600;
    padding: 20px 0;
    background-color: var(--background-purple-side);
    border-top-right-radius: 120px;
}

.hero__text{
    padding: 20px 80px;
    font-size: 2.3rem;
    font-weight: 600;
}

.hero__background{
    position: absolute;
    top: -40px;
    right: 0;    
    background: url(../img/dizain-befaint-1.png) center center no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    z-index: 1;
}

.hero__btns{
    position: relative;
    top: 240px;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.hero__read{
    width: 80%;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 20px;
    background-color: var(--background-blue);
    border-radius: 10px;
    margin-bottom: 20px;    
}

.hero__write{
    width: 80%;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 20px;
    background-color: var(--background-blue);
    border-radius: 10px;
}

.hero__read:hover{
    background-color:  rgb(55, 46, 88);
}

.hero__write:hover{
    background-color:  rgb(55, 46, 88);
}

.hero__background-2{
    position: absolute;
    top: 500px;
    left: -70px;    
    background: url(../img/dizain-befaint-2.png) center center no-repeat; 
    background-size: contain;   
    width: 500px;
    height: 600px;
    z-index: 1;
}

.hero__border-rad{
    position: relative;
    top: 120px;
    left: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 8px solid var(--background-blue);
    border-radius: 70px;
    width: 900px;
    height: 250px;
    padding: 10px 0 10px 10px;    
}

.hero__vnytri{
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;  
    justify-content: center;   
    align-items: center;
    background-color: var(--background-purple-side);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;    
}

.hero__text-zagolovok{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    margin: 25px 50px 0 100px;
}

.hero__text-zagolovok-two{
    display: flex;
    align-items: center;
    margin: 0 5px 10px 5px;
    color: #ffffff;
    font-size: 9rem;    
}

.hero__element-right{
    position: absolute;
    top: 138px;
    left: 1080px;
    width: 700px;
    height: 214px;
    background: url(/img/the-wall-right.png);
}

.advantages{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 70px;
}

.advantages__user{
    border: 10px solid #ffffff;
    border-radius: 50px;
    margin-left: 100px;  
    z-index: 10;  
}

.advantages__genre{
    border: 10px solid #ffffff;
    margin-left: 100px;
}

.advantages__garanti{
    border: 10px solid #ffffff; 
    margin-left: 100px;
}

.advantages__card{
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 35px;
    width: 420px;
    height: 420px;
    background-color: var(--background-purple-card);
}

.advantages__card-heading{
    text-align: left;  
    color: var(--primary-purple);
    padding: 20px 20px 20px 40px;
    font-size: 3rem;
    font-weight: 700;
}


.advantages__card-text{
    color: #ffffff;
    padding: 0 20px 20px 20px;
    font-size: 2rem;
}

.rated__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.top-left-dekop{           
    background: url(/img/top-left.png) center no-repeat;    
    height: 214px;
    width: 70px;
    background-size: cover;
    margin-right: 30px;
}

.top{
    display: flex;
    justify-content: center;
    border: 10px solid var(--background-blue);
    border-radius: 100px;    
    height: 250px;
}

.top__text{    
    display: flex;
    align-items: center;    
    font-size: 10rem;  
    color: #ffffff;
    margin: 10px 20px;   
    padding: 70px;
    background-color: var(--background-purple-side);
    border-radius: 100px;    
}

.top-right-dekop{  
    background: url(/img/top-right.png)center no-repeat;
    height: 214px;
    width: 70px;
    background-size: cover;
    margin-left: 30px;    
}




/* FOOTER */

.footer{
    background-color: #ffffff;      
    box-shadow: -4px -4px 8px 0px rgba(0, 0, 0, 0.25);  
}

.footer__conteaner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110px;
    color: #000000;    
}

.footer__link{
    display: block;
}

.footer__main-logo{   
    position: absolute;
    top: 10px;
    left: 10px;    
    bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-left: 20px;
}

.footer__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.footer__nav-item:not(:last-child){
    margin-right: 65px;
}

.footer__nav-link:hover{
    background-color:  rgb(151, 53, 151);
}

.footer__nav-link{
    padding: 5px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
}
