/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --primary-purple:#625977;
    --background-blue:#5D6C96;
    --background-purple-card:#BCB5D8;
    --background-purple-side:#9587AA;
    --background-purple-history:#CDC8DD;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: "Source Code Pro";
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: #ffffff;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

*:focus{
    opacity: 0.5;
    outline: none;
}



/* HEADER */

.wraper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.header{     
    width: 100%;
    background-color: rgb(255, 255, 255);    
}

.header__container{    
    min-height: 80px;    
    background-color: var(--background-purple-side); 
}

._container{
    position: relative;
    max-width: 1700px;
    margin: 0 auto;    
}

.header__row{
    display: flex;    
    align-items: flex-start;   
}

.logo{
    display: flex; 
    flex-basis: 80%;
    background-color: var(--primary-purple); 
    border-bottom-right-radius: 100px;      
}

.header__buttons{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: flex-end;    
    background-color: #ffffff;

}

.header__reagister{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--background-blue); 
    color: #ffffff;
    width: 100%;
}

.header__login{    
    font-size: 2rem;
    transform: translateY(5px);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--background-purple-card); 
    color: #ffffff;    
    width: 60%;
}

.search{
    display: flex;         
    gap: 50px;
    padding: 25px 35px;
    background-color: var(--background-purple-side);     
}

.search__btn{
    font-weight: 600;
    font-size: 2rem;
    border-radius: 20px;
    color: #5D6C96
}

.search__input{
    margin-left: 250px;
    flex-basis: 50%;
}

.navigator{
    position: relative;
    background-color: var(--background-blue); 
    z-index: 50;
}

.navigation__list{
    display: flex;
    justify-content: center;
    gap: 100px;    
}

.navigator__item{
    position: relative;   
    z-index: 50; 
    display: block;
    cursor: pointer;
    padding: 20px 30px 20px 90px;
    border-radius: 5px;    
}

.navigator__item:hover{
    background-color:  rgb(55, 46, 88);
}

.navigator__item > .histori {
    position: absolute;
    top: 9px;
    right: 200px;
    display: block;
    background: url(/img/icon-book.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .tags {
    position: absolute;
    top: 17px;
    right: 140px;
    display: block;
    background: url(/img/icon-tags.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .izbranoe {
    position: absolute;
    top: 14px;
    right: 230px;
    display: block;
    background: url(/img/icon-izbranoe.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .write {
    position: absolute;
    top: 16px;
    right: 210px;
    display: block;
    background: url(/img/icon-write.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigation__link{    
    padding: 5px;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.icon-navigation{
    display: block;    
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
}






/* MAIN SECTION */

.main{
    flex: 1 1 auto;    
}

.hero__container{
    position: relative;
    display: flex;
    flex-direction: column;    
    min-height: 800px;
    padding: 100px 0 100px 80px;
    color: #000000;
}

.hero__obvodka{
    position: absolute;
    top: -12px; 
    left: 1px;
    background: url(../img/dizain-obvotka.png) center center no-repeat;
    background-size: contain;
    width: 1100px;
    height: 600px;
    z-index: 1;
}

.hero__block{
    position: relative;
    top: 100px;       
}

.hero__background-color{
    position: relative;
    top: 5px;
    left: 6px;
    background-color: var(--background-purple-card);
    width: 1090px;
    height: 390px;
    border-top-right-radius: 105px;
    border-bottom-right-radius: 105px;
}

.hero__text-main{
    display: flex;
    flex-direction: column;
}

.hero__heading{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #ffffff;
    font-weight: 600;
    padding: 20px 0;
    background-color: var(--background-purple-side);
    border-top-right-radius: 120px;
}

.hero__text{
    padding: 20px 80px;
    font-size: 2.3rem;
    font-weight: 600;
}

.hero__background{
    position: absolute;
    top: -40px;
    right: 0;    
    background: url(../img/dizain-befaint-1.png) center center no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    z-index: 1;
}

.hero__btns{
    position: relative;
    top: 240px;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.hero__read{
    width: 80%;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 20px;
    background-color: var(--background-blue);
    border-radius: 10px;
    margin-bottom: 20px;    
}

.hero__write{
    width: 80%;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 20px;
    background-color: var(--background-blue);
    border-radius: 10px;
}

.hero__read:hover{
    background-color:  rgb(55, 46, 88);
}

.hero__write:hover{
    background-color:  rgb(55, 46, 88);
}

.hero__background-2{
    position: absolute;
    top: 500px;
    left: -70px;    
    background: url(../img/dizain-befaint-2.png) center center no-repeat; 
    background-size: contain;   
    width: 500px;
    height: 600px;
    z-index: 1;
}





/* raiting SLIDER */

.rated {
}
.raited__container{
}
.swiper_rated {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.rated-card {
    position: relative;
    display: flex;
    max-width: 1100px;
    width: 100%;
    padding: 10px 15px 20px 20px;
    background-color: var(--background-purple-history);
    border-radius: 50px;
}
.rated-card__link {
    transform: translateY(40px);
    flex-basis: 40%;   
    margin-right: 10px;
    background-color: var(--background-purple-side);  
}

.rated-card__img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.6s ease-in-out;    
}

.rated-card__img:hover{
    transform: scale(0.95) translateX(-11px);
 
}

.rated-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-basis: 60%;
    padding: 10px 0 20px 10px;
    height: auto;
}

.rated-card__text-top{

}

.rated-card__bufer{
    width: 55px;
    height: 20px;
    float: right;
}
.rated-card__desc {
    margin-bottom: 2px;
    font-size: 1.2rem;
    line-height: 1.3;
}

.rated-card__author {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}
.rated-card__raiting {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.2em 0.4em;
    height: fit-content;

    font-size: 4rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -10px;

    border-radius: 47%;
    background-color: var(--background-purple-side);
    color: #fff;
    transform: translate(40%, -45%);
}

.swiper-pagination-bullet{
    width: 25px;
    height: 25px;
    border: 3px solid var(--background-purple-side);    
    border-radius: 50%;   
    opacity: 1;
    background: #fff; 
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{     
    background-color: var(--background-purple-side);
}

.swiper-pagination {
    padding-left: 400px;

}
.swiper-button-prev,.swiper-button-next {   
    color: var(--primary-purple);
}

.swiper-button-prev::after,.swiper-button-next::after {   
    color: var(--primary-purple);
    font-weight: 700;
    font-size: 8rem;
}

:root {
    --swiper-navigation-size: 100px;
}




/* FOOTER */

.footer{      
    margin-top: 100px;    
}

.footer__conteaner{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: var(--primary-purple);  
    min-height: 80px;
    color: #ffffff;    
}

.footer__link{
    display: block;
}

.footer__main-logo{   
    position: absolute;
    top: 10px;
    left: 10px;    
    bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-left: 20px;
}

.footer__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.footer__nav-item:not(:last-child){
    margin-right: 65px;
}

.footer__nav-link:hover{
    background-color:  rgb(151, 53, 151);
}

.footer__nav-link{
    padding: 5px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
}

