/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --primary-purple:#625977;
    --background-blue:#5D6C96;
    --background-purple-card:#BCB5D8;
    --background-purple-side:#9587AA;
    --background-purple-history:#CDC8DD;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: "Source Code Pro";
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: #ffffff;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

*:focus{
    opacity: 1;
    outline: none;
}



/* HEADER */

.wraper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.header{     
    width: 100%;
    background-color: rgb(255, 255, 255);    
}

.header__container{    
    min-height: 80px;    
    background-color: var(--background-purple-side); 
}

._container{    
    max-width: 1700px;
    margin: 0 auto;    
}

.header__row{
    display: flex;    
    align-items: flex-start;   
}

.logo{
    display: flex; 
    flex-basis: 80%;
    background-color: rgb(97 87 119); 
    border-bottom-right-radius: 100px;      
}

.header__buttons{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: flex-end;    
    background-color: #ffffff;

}

.header__reagister{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--background-blue); 
    color: #ffffff;
    width: 100%;
}

.header__login{    
    font-size: 2rem;
    transform: translateY(5px);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--background-purple-card); 
    color: #ffffff;    
    width: 60%;
}

.search{
    display: flex;         
    gap: 50px;
    padding: 25px 35px;
    background-color: var(--background-purple-side);     
}

.search__btn{
    font-weight: 700;
    font-size: 2rem;
    border-radius: 20px;
    color: #5D6C96
}

.search__input{
    margin-left: 250px;
    flex-basis: 50%;
    font-size: 2rem;
}

.navigator{
    position: relative;
    background-color: var(--background-blue); 
    z-index: 40;
}

.navigation__list{
    display: flex;
    justify-content: center;
    gap: 100px;    
}

.navigator__item{
    position: relative;   
    z-index: 50; 
    display: block;
    cursor: pointer;
    padding: 20px 30px 20px 90px;
    border-radius: 5px;     
}

.navigator__item:hover{
    background-color:  rgb(55, 46, 88);    
}

.navigator__item > .histori {
    position: absolute;
    top: 9px;
    right: 200px;
    display: block;
    background: url(/img/icon-book.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .tags {
    position: absolute;
    top: 17px;
    right: 140px;
    display: block;
    background: url(/img/icon-tags.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .izbranoe {
    position: absolute;
    top: 14px;
    right: 230px;
    display: block;
    background: url(/img/icon-izbranoe.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigator__item > .write {
    position: absolute;
    top: 16px;
    right: 210px;
    display: block;
    background: url(/img/icon-write.png) center center no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;    
}

.navigation__link{    
    padding: 5px;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.icon-navigation{
    display: block;    
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
}






/* MAIN SECTION */

.main{    
    flex: 1 1 auto;    
}

.hero__container{
    position: relative;
    display: flex;
    flex-direction: column;    
    min-height: 800px;
    padding: 100px 0 100px 80px;
    color: #000000;
}

.hero__obvodka{
    position: absolute;
    top: -12px; 
    left: 1px;
    background: url(../img/dizain-obvotka.png) center center no-repeat;
    background-size: contain;
    width: 1100px;
    height: 600px;
    z-index: 1;
}

.hero__block{
    position: relative;
    top: 100px;       
}

.hero__background-color{
    position: relative;
    top: 5px;
    left: 6px;
    background-color: var(--background-purple-card);
    width: 1090px;
    height: 390px;
    border-top-right-radius: 105px;
    border-bottom-right-radius: 105px;
}

.hero__text-main{
    display: flex;
    flex-direction: column;
}

.hero__heading{
    display: flex;    
    font-size: 4rem;
    color: #ffffff;
    font-weight: 600;
    padding: 20px 80px;
    background-color: var(--background-purple-side);
    border-top-right-radius: 120px;
}

.hero__text{
    padding: 20px 80px;
    font-size: 2.3rem;
    font-weight: 600;
}

.hero__background{
    position: absolute;
    top: -40px;
    right: 0;    
    background: url(../img/dizain-befaint-1.png) center center no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    z-index: 1;
}

.hero__btns{
    position: relative;
    top: 240px;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.hero__read{
    width: 80%;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 20px;
    background-color: var(--background-blue);
    border-radius: 10px;
    margin-bottom: 20px;    
}

.hero__write{
    width: 80%;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 20px;
    background-color: var(--background-blue);
    border-radius: 10px;
}

.hero__read:hover{
    background-color:  rgb(55, 46, 88);
}

.hero__write:hover{
    background-color:  rgb(55, 46, 88);
}

.hero__background-2{
    position: absolute;
    top: 500px;
    left: -70px;    
    background: url(../img/dizain-befaint-2.png) center center no-repeat; 
    background-size: contain;   
    width: 500px;
    height: 600px;
    z-index: 1;
}

.hero__border-rad{
    position: relative;
    top: 120px;
    left: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 8px solid var(--background-blue);
    border-radius: 70px;
    width: 900px;
    height: 250px;
    padding: 10px 0 10px 10px;    
}

.hero__vnytri{
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;  
    justify-content: center;   
    align-items: center;
    background-color: var(--background-purple-side);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;    
}

.hero__text-zagolovok{
    display: flex;
    align-items: center;
    text-align: start;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    margin: 25px 190px 0 70px;
}

.hero__text-zagolovok-two{
    display: flex;
    align-items: center;
    margin: 0 5px 10px 5px;
    color: #ffffff;
    font-size: 9rem;    
}

.hero__element-right{
    position: absolute;
    top: 138px;
    left: 1080px;
    width: 700px;
    height: 214px;
    background: url(/img/the-wall-right.png);
}

.advantages{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 70px;
}

.advantages__user{
    border: 10px solid #ffffff;
    border-radius: 50px;
    margin-left: 100px;  
    z-index: 10;  
}

.advantages__genre{
    border: 10px solid #ffffff;
    margin-left: 100px;
}

.advantages__garanti{
    border: 10px solid #ffffff; 
    margin-left: 100px;
}

.advantages__card{
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 35px;
    width: 420px;
    height: 420px;
    background-color: var(--background-purple-card);
}

.advantages__card-heading{
    text-align: center;  
    color: var(--primary-purple);
    padding: 20px 20px 20px 20px;
    font-size: 3rem;
    font-weight: 700;
}


.advantages__card-text{
    color: #ffffff;
    padding: 0 20px 20px 20px;
    font-size: 2.8rem;
}

.rated__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.top-left-dekop{           
    background: url(/img/top-left.png) center no-repeat;    
    height: 214px;
    width: 70px;
    background-size: cover;
    margin-right: 30px;
}

.top{
    display: flex;
    justify-content: center;
    border: 10px solid var(--background-blue);
    border-radius: 100px;    
    height: 250px;
}

.top__text{    
    display: flex;
    align-items: center;    
    font-size: 10rem;  
    color: #ffffff;
    margin: 10px 20px;   
    padding: 70px;
    background-color: var(--background-purple-side);
    border-radius: 100px;    
}

.top-right-dekop{  
    background: url(/img/top-right.png)center no-repeat;
    height: 214px;
    width: 70px;
    background-size: cover;
    margin-left: 30px;    
}


/* REGISTER-LOGIN */


.account{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -20%);   
    z-index: 60;
    display: none;
    width: 550px;
    min-height: 650px;
    background-color: var(--primary-purple);
    border-radius: 8px;
    border: 5px solid #ffffff;    
}

.account.active{
    display: initial;
}

.close-registor{    
    position: absolute;
    top: 20px;
    right: 4%;     
    background: none;
    color: #ffffff;
    transform: scale(3)  
      
}

.account__forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account__name-logo{
    font-size: 2rem;
    color: #ffffff;
    padding-top: 50px;
}

.account__registration{
    font-size: 2rem;
    color: #ffffff;
    padding-top: 20px;
}
.account__pola-add{
    font-size: 1.4rem;
    color: #ffffff;
    padding-top: 20px;
}

.account__name{   
    padding-top: 20px;
}

.modal-input{
    font-size: 1.2rem;
    line-height: 1.5;
    width: 100%;
    padding: 7px 12px 9px;
    border-radius: 8px;
    outline: none
}

.account__email{    
    padding-top: 20px;
}

.account__password{
    padding-top: 20px;
}

.account__password-rep{
    padding-top: 20px;
}

.registration__submit-btn{
    background-color: var(--background-blue);
}

.modal-btn{
    padding: 7px 50px 9px 50px;
    border-radius: 8px;
    font-size: 1.4rem;
    line-height: 1.25;
    font-weight: 600;
    border: 2px solid transparent;
    color: #fff; 
}

.account__registration-btn{
    padding-top: 20px;
}

.registration__submit-btn:hover{
    background-color: var(--background-purple-card);
}

.close-login{    
    position: absolute;
    top: 20px;
    right: 4%;     
    background: none;
    color: #ffffff;
    transform: scale(3)  
      
}






/* raiting SLIDER */

.rated {
}
.raited__container{
}
.swiper_rated {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.rated-card {
    position: relative;
    display: flex;
    max-width: 1100px;
    width: 100%;
    padding: 10px 15px 20px 20px;
    background-color: var(--background-purple-history);
    border-radius: 50px;
}
.rated-card__link {
    transform: translateY(40px);
    flex-basis: 40%;   
    margin-right: 10px;
    background-color: var(--background-purple-side);  
}

.rated-card__img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.6s ease-in-out;    
}

.rated-card__img:hover{
    transform: scale(0.95) translateX(-11px);
 
}

.rated-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-basis: 60%;
    padding: 10px 0 20px 10px;
    height: auto;
}

.rated-card__text-top{

}

.rated-card__bufer{
    width: 55px;
    height: 20px;
    float: right;
}
.rated-card__desc {
    margin-bottom: 2px;
    font-size: 1.4rem;
    line-height: 1.3;
}

.rated-card__author {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}
.rated-card__raiting {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.25em 0.5em;
    height: fit-content;

    font-size: 3.7rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -5px;

    border-radius: 47%;
    background-color: var(--background-purple-side);
    color: #fff;
    transform: translate(40%, -45%);
}

.swiper-pagination-bullet{
    width: 25px;
    height: 25px;
    border: 3px solid var(--background-purple-side);    
    border-radius: 50%;   
    opacity: 1;
    background: #fff; 
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{     
    background-color: var(--background-purple-side);
}

.swiper-pagination {
    padding-left: 400px;

}
.swiper-button-prev,.swiper-button-next {   
    color: var(--primary-purple);
}

.swiper-button-prev::after,.swiper-button-next::after {   
    color: var(--primary-purple);
    font-weight: 700;
    font-size: 8rem;
}

:root {
    --swiper-navigation-size: 100px;
}




/* PAGE-HISTORY */

.histori{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.histori__obloshka{
    position: relative;
    display: flex;
    width: 1300px;
    height: 550px;
    background-color: var(--background-purple-history);
    margin: 80px 50px 50px 50px;
    border-radius: 50px;
}

.histori__img{
    position: relative;
    top: 55px;
    left: -130px;
    width: 360px;
    height: 520px;
    background-color: var(--background-purple-side);     
}

.img-background{    
    position: relative;
    top: 10px;
    left: -20px;
    background: url(/img/chipichapa.jpg) center center no-repeat;
    width: 350px;
    height: 500px;
    background-size: cover;     
}

.histiry__title{
    position: relative;
    top: -5px;
    left: -150px;
    width: 600px;
    height: 100px;
    font-weight: 700;
    color: var(--primary-purple);    
    font-size: 2.7rem;
    background-color: #ffffff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
}

.title-icon{       
    width: 30px;
    height: 30px;
}

.title-izbranoe-name{
    width: 30px;
    height: 30px;
}

.title-tags{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2rem;
    text-align: end;
    padding-right: 20px;
}

.history__izbranoe{
    position: relative;
    top: -7px;
    left: -120px;       
}

.svg-izbranoe:hover{
    fill: var(--background-blue);
}

.svg-izbranoe-page:hover{
    fill: var(--primary-purple);
}

.histori__text{
    position: relative;
    top: 100px;
    left: -775px;
}

.text-data{
    display: flex;
    flex-direction: column; 
    color: var(--primary-purple);  
    font-size: 1.3rem;
    font-weight: 700;
}

.text-opinion{
    position: absolute;
    top: 190px;
    left: 255px;
    max-width: 700px;
    color: var(--primary-purple);
    font-weight: 600;
}

.histori__genres{
    position: absolute;
    top: 20px;
    left: 970px;    
    display: table;    
    
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 50px;
}

.genres-tipes{
    display: inline-block; 
    
    background-color: var(--primary-purple);
    margin: 15px 15px 0 15px;
    padding: 10px;    
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
    
    letter-spacing: 2px;
}

.genres-tipes-2{
    display: inline-block; 
    
    background-color: var(--primary-purple);
    margin: 15px 15px 0 0;
    padding: 10px;    
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;  

    letter-spacing: 2px;
}

.histori__opinion-read{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);   
    z-index: 60;
    display: none;
    width: 1120px;
    min-height: 700px;
    background-color: var(--primary-purple);
    border-radius: 50px;     
}

.histori__opinion-read.active{
    display: initial;
}

.histori__opinion-backg{
    position: absolute;
    top: 10%;
    left: 49%;
    transform: translate(-50%, -20%);   
    z-index: 50;    
    width: 1100px;
    min-height: 650px;
    background-color: var(--background-purple-history);
    border-radius: 50px;  
}

.close-histori{
    position: absolute;
    top: 650px;
    right: 4%;     
    background: none;
    color: #ffffff;
    transform: scale(5) 
}

.histori__opinion-img{
    position: relative;
    top: 55px;
    left: -130px;
    width: 400px;
    height: 550px;
    background-color: var(--background-purple-side);    
}

.histori__opinion-img-backg{
    position: relative;
    top: 10px;
    left: -20px;
    background: url(/img/chipichapa.jpg) center center no-repeat;
    width: 410px;
    height: 530px;
    background-size: cover;   
}

.histori__opinion-title{
    position: relative;
    top: -570px;
    left: 300px;
    width: 600px;
    height: 100px;
    font-weight: 700;
    color: var(--primary-purple);    
    font-size: 3.3rem;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
}

.histori__opinion-read-izb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.histori__opinion-read-text{
    position: relative;
    top: -520px;
    left: -150px;
    font-size: 2rem;
    padding: 5px 10px;
    background-color: var(--primary-purple);
    color: #ffffff;
    font-weight: 700;
    border-radius: 10px;
}

.histori__opinion-read-icon{
    position: relative;
    top: -520px;
    left: -150px;    
    padding: 5px 10px;
    
    border-radius: 10px;    
}

.svg-izbranoe-opinion:hover{
    fill: #5D6C96 ;
}

.histori__opinion-text{
    position: absolute;
    top: 190px;
    left: 310px;
    max-width: 700px;
    color: var(--primary-purple);
    font-weight: 600;
}

.histori__opinion-genres{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.histori__opinion-genres-contant{
    position: absolute;
    top: 560px;
    left: 320px;
    width: 700px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 30px;
}

.genres-tipes-opinion{
    display: inline-block; 
    
    background-color: var(--primary-purple);
    margin: 10px 0 0 10px;
    padding: 5px 10px;    
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    
    letter-spacing: 2px;
}

.modal-overlay-black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    display: none;
}

.modal-overlay-black.active{    
    display: initial;
}



















/* PAGE-TAGS */

.tag{
    display: flex;
    flex-direction: row;     
}

.__container{
    max-width: 1700px;
    margin: 0 auto;
}

.tag__search{
    margin-top: 50px;
}

.tags__search-flex{
    display: flex;
    justify-content: start;    
    margin-left: 10px;
    margin-bottom: 50px;    
}

.tags__input{
    width: 400px;
    color: #000000;
    border: 3px #000000 solid ;
    border-radius: 50px;
}

.tags__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--primary-purple);
    padding: 5px 20px 5px 20px;
    color: #ffffff;
}

.tags__triggers{    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--primary-purple);
    padding: 5px 20px 5px 20px;
    color: #ffffff;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);   
    z-index: 50;
    display: none;
}

.modal.active{
    display: initial;
}

.modal-content { 
    position: relative;   
    width: 650px;
    height: 300px;
    background: var(--background-purple-side);
    border-radius: 50px;  
    font-weight: bold;    
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.close {  
    position: absolute;
    top: 20px;
    right: 7%;     
    background: none;
    color: #ffffff;
    transform: scale(3)  
  }

.no-scrol{
    overflow: hidden;
}

.modal-overlay{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 40;
}

.modal-overlay.active{
    display: initial;
}

.h4-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px 0 10px 0;
    margin: 0;
    color: #ffffff;
}

.name-tag-div{
    font-size: 1.2rem;
    margin-left: 50px;
}

.description-tag-div{
    font-size: 1.2rem;
    margin-left: 50px;
}

.btn-login-div{
    font-size: 1.5rem;
    margin-left: 50px;    
}

.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.name-tag, .description-tag {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #ffffff;
  padding-left: 0;
  padding-right: 90px;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: var(--background-blue);
  color: #fff;
}

.tags__button:hover{
    background-color: rgb(55, 46, 88);
}

.tags__triggers:hover{
    background-color: rgb(55, 46, 88);
}

.tags__vse-tags{
    display: flex;
}

.tags__list{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.tags__each-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 40px;
    text-align: center;
    background-color: var(--primary-purple);
    border-radius: 20px;    
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
}

.tags__sum{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.tags__number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    margin: 10px 100px 10px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
}


/* PAGE-IZBRANOE */

.izbranoe-sectoin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.history__izbranoe-delete{
    position: relative;
    top: -10px;
    left: -120px;
    width: 35px;
    height: 70px;
    background: var(--background-blue); ;
}


.history__izbranoe-delete:hover{
    background-color: var(--background-purple-side);
}







/* PAGE-WRITE */

.write-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-file-row {
	display: inline-block;
}
.input-file {
	position: relative;
	display: inline-block;
}

span.add-img{
    position: relative;
    top: 120px;
    left: 110px;

    display: block;
    width: 150px;
    height: 150px;
}

span.add-img::before{    
    content: '';
	position: absolute;
    
    top: 80px;
    left: 20px;
	z-index: 60;
    transform: rotate(90deg);
    width: 110px;
    height: 12px;
      
    background-color: var(--background-blue);
    
}

span.add-img::after{    
    content: '';
	position: absolute;
    
    top: 80px;
    left: 20px;
	z-index: 60;
    width: 110px;
    height: 12px;
      
    background-color: var(--background-blue);
    
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

 
/* Hover/active */
span.add-img:hover::before,span.add-img:hover::after{
	background-color: var(--background-purple-card);
}

 
/* Список c превью */
.file-list {
    position: absolute;
    top: 300px;
    left: 50px;
	padding: 10px 0;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;    
}

.file-name {
    margin: 10px;
}

.input-add-img{
    width: 25px;
    height: 25px;    
}

.button-add-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px; 
    font-size: 2rem;
}

.input-file-list-item {
	display: inline-block;
	margin: 0 15px 15px;
	width: 150px;
	vertical-align: top;
	position: relative;
}
.input-file-list-item img {
	width: 150px;
}
.input-file-list-name {
	text-align: center;
	display: block;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.input-file-list-remove {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 5px;
	right: 5px;
	background: #ff0202;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
}

.histori__text-add{
    position: absolute;
    top: 100px;
    left: 260px;
    width: 700px;
    height: 150px;
}

.text-avtor-add{
    font-size: 1.3rem;
    background-color: #cdc8dd;
    color: var(--primary-purple);
    font-weight: 700;
    padding: 0;
    cursor: pointer;
}

.text-personaji-add{
    font-size: 1.3rem;
    background-color: #cdc8dd;
    color: var(--primary-purple);
    font-weight: 700;
    padding: 0;
    cursor: pointer;
}

.selected-word-janrs{
    font-size: 1.3rem;
    background-color: #cdc8dd;
    color: var(--primary-purple);
    font-weight: 700;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
}

.list-janrs{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--primary-purple);
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    max-height: 200px; 
    overflow-y: auto; 
    width: 200px; 
    margin-top: 5px;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2rem;
      
    z-index: 60; 
    cursor: pointer;
}

.list-janrs li{
   padding: 5px 0;
}

.text-avtor-add:hover{
    color: var(--background-blue);
}

.text-personaji-add:hover{
    color: var(--background-blue);
}

.text-opinion-add{
    position: absolute;
    top: 300px;
    left: 350px;    
}

.text-opinion-button{
    color: var(--primary-purple);
    background-color: #cdc8dd;
    font-weight: 700;
    font-size: 3rem;
}

.text-opinion-add:hover{
    color: var(--background-blue);
}

.histiry__title-add{    
    color: var(--primary-purple);
    background-color: #ffffff;
    font-weight: 700;
    font-size: 3.3rem;
}

.histiry__title-add:hover{
    color: var(--background-blue);
}

.histori__add-genres{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.histori__add-genres-contant{
    position: absolute;
    top: 30px;
    left: 920px;
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 30px;
}

.genres-tipes-add:hover{
    background-color: var(--background-blue);
}


.button-container-tags{
    display: flex; 
    align-items: center; 
}

.button-container-tags button {
    display: inline-block; 
    
    background-color: var(--primary-purple);
    margin: 20px 5px 0 20px;
    padding: 10px 20px;    
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    
    letter-spacing: 2px;     
   
    border: none;
    cursor: pointer;   
  }

.selected-word {
    display: inline-block;
    background-color: var(--primary-purple);
    margin: 20px 5px 0 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
  }

.list-tags{
    display: none;
    position: absolute;
    top: 100px;
    left: 940px;
    background-color: var(--primary-purple);
    border: 3px solid #000000;
    color: #ffffff;
    border-radius: 5px;
    max-height: 200px; 
    overflow-y: auto; 
    width: 200px; 
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.2rem;
      
    z-index: 60; 
    cursor: pointer;
}

.list-tags li{
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
}

.button-save-histori{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.button-save-histori-text{
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    background-color: var(--primary-purple);
    padding: 10px 50px;
}

.button-save-histori-text:hover{
    background-color: var(--background-blue);  
}

.button-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button-add-write{
    margin-right: 100px;
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    background-color: var(--primary-purple);
    padding: 10px 50px;
}

.button-add-pablic{    
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    background-color: var(--primary-purple);
    padding: 10px 50px;
}

.button-add-write:hover{
    background-color: var(--background-blue);
}

.button-add-pablic:hover{
    background-color: var(--background-blue);    
}

.add-text-name{
    width: 90%;
    height: 50%;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 1.7rem;
    color: var(--primary-purple);
    
    font-weight: 700;
    margin: 0;
    padding: 0 10px;
    text-align: center;
}

.add-text-avtor{
    width: 80%;
    height: 50%;
    border-radius: 50px;
    
    font-size: 1.3rem;
    color: var(--primary-purple);
    
    font-weight: 700;
    margin: 5px 5px 0 0;
    padding: 0 10px;
}

.add-text-hero{
    width: 55%;
    height: 50%;
    border-radius: 50px;
    
    font-size: 1.3rem;
    color: var(--primary-purple);
    font-weight: 700;
    margin: 5px 5px 0 0;
    padding: 0 10px;
}

.add-text-tags{
    width: 80%;
    height: 50%;
    border-radius: 50px;
   
    font-size: 1.3rem;
    color: var(--primary-purple);
    font-weight: 700;
    margin: 5px 5px 0 0;
    padding: 0 10px;
}

.add-text-opinion{
    position: absolute;
    top: -80px;
    left: -100px;
    
    width: 650px;
    height: 320px;        
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--primary-purple);
    font-weight: 700;
    margin: 5px 5px 0 0;
    padding: 20px;    
}

textarea{
    resize: none;
}





/* HISTORY-READ */

.___container{
    max-width: 1300px;
    margin: 0 auto;
}







/* HISTORI-WRITE */

.histori__write{
    display: flex;
    justify-content: center; 
    flex-direction: column;  
}

.histori__write-save{    
    max-width: 20%;
    margin-top: 30px;
    font-size: 2rem;
    padding: 10px 30px;
    color: #ffffff;
    background-color: var(--primary-purple);
    border-radius: 50px;
}

.histori__write-save:hover{    
    background-color: var(--background-blue);
}

.histoti_write-text{
    height: 1000px;   
    width: 1300px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 30px;
    font-size: 1.5rem;
}





/* FOOTER */

.footer{          
    margin-top: 70px;    
}

.footer__conteaner{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: var(--background-blue);  
    min-height: 80px;
    color: #ffffff;    
}

.footer__link{
    display: block;
}

.footer__main-logo{   
    position: absolute;
    top: 10px;
    left: 10px;    
    bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-left: 20px;
}

.footer__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.footer__nav-item:not(:last-child){
    margin-right: 65px;
}

.footer__nav-link:hover{
    background-color:   rgb(55, 46, 88);
}

.footer__nav-link{    
    padding: 5px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
    color: #ffffff;
    background-color:  var(--background-blue);
}

.footer__link{
    display: flex;
}

.footer__vk{   
    display: block;
    background: url(/img/icon-vk.png) center center no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;   
    margin-left: 20px; 
}

.footer__tg{
    display: block;
    background: url(/img/icon-tg.png) center center no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin-left: 100px;
}



